.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 7px 7px;
    box-sizing: border-box;
    flex: 1 0 100%;
    margin: 1rem .25em;
    padding: 1rem;
}

@media screen and (min-width: 40em) {
    .card {
         flex: 1 0 calc(25% -  1em);
    }
}

.card-title, .card-title--inner {
    margin: 0;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-shadow: none;
    text-decoration: none;
    text-align: left;
}

.card-date {
    color: #bbb;
    font-size: .5rem;
    display: block;
}

.card-divider {
    margin: 1rem 0;
}