.content-box {
    background: #f9f9f9;
    padding: 5%;
    box-shadow: rgba(0,0,0,0.1) 15px 15px;
    font-size: 19px;
    line-height: 1.6;
    color: #555;
}

.content-box>p:first-child:first-letter {
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    float: left;
    padding-right: 10px;
    padding-left: 2px;
    text-transform: uppercase;
}